<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="3" parallel="tests">
<!--    <listeners>-->
<!--        <listener class-name="ge.tbc.testautomation.listeners.CustomSuiteListener"/>-->
<!--        <listener class-name="ge.tbc.testautomation.listeners.CustomTestListener"/>-->
<!--        <listener class-name="ge.tbc.testautomation.listeners.CustomReportListener"/>-->
<!--        <listener class-name="ge.tbc.testautomation.listeners.TestListenerWithScreenshot"/>-->
<!--    </listeners>-->
    <test name="SelenideHomework">
        <groups>
            <define name="Selenide 1">
                <include name="validateBundleOffers" />
                <include name="validateIndividualOffers" />
                <include name="checkBoxTest" />
                <include name="dropDownTest" />
                <include name="collectionsTest" />
            </define>
            <define name="Selenide 2">
                <include name="validateDemosDesign" />
                <include name="validateOrderMechanics" />
                <include name="chainedLocatorsTest" />
                <include name="softAssertTest" />

            </define>
            <define name="ParentSelenide">
                <include name="Selenide 1" />
                <include name="Selenide 2" />
            </define>
        </groups>

        <classes>
            <class name="SelenideTests" />
            <class name="SelenideTests2"/>
        </classes>
    </test>

    <test name="FrontEndTests">
        <groups>
            <define name="CheckBoxes-FrontEnd">
                <include name="checkBoxTest" />
            </define>
            <define name="dropDown-FrontEnd">
                <include name="dropDownTest" />
            </define>
        </groups>

        <classes>
            <class name="SelenideTests" />
        </classes>
    </test>

    <test name="RunGroups">
        <groups>
            <run>
                <include name=".*FrontEnd" />
            </run>
        </groups>
        <classes>
            <class name="SelenideTests" />
            <class name="SelenideTests2"/>
        </classes>
    </test>

</suite>